.venv/
.venv-paddle/
.python313/
.model_cache/
__pycache__/
*.py[cod]
.streamlit/

data/input_images/*
data/templates/*
data/output/*
data/crops/*
data/learning_data/*

!data/input_images/.gitkeep
!data/templates/.gitkeep
!data/templates/Book1.xlsx
!data/output/.gitkeep
!data/crops/.gitkeep
!data/learning_data/.gitkeep
